# Build
target/

# Eclipse
.settings/
.classpath
.project
.factorypath

# VS Code
.vscode/

# Node.js (caso tenha sido gerado por engano)
package.json
package-lock.json
node_modules/

# Arquivos de sistema
.DS_Store
Thumbs.db

# Outros temporários
*.log
*.tmp
*.bak
*.swp
*.swo